.card {
  max-width: 300px;
  max-height: 350px;
  background-color: #c4c4c4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
}

.card img {
  max-height: 40%;
  max-width: 80%;
}
